%h1 Careers
%p Would you like to join the our team? We are always looking for talented folks. Apply below:

%h2 Operations Manager
%p Donec purus nibh, tempus sit amet volutpat quis, laoreet nec elit. Aliquam erat volutpat. Etiam eu porta felis. Nam varius tellus non justo pulvinar mollis. Sed ipsum felis, congue sed euismod id, interdum at mi. Suspendisse neque magna, tristique id hendrerit faucibus, suscipit tristique nisi. Phasellus vitae orci et risus euismod auctor vel eu risus. Morbi interdum porta elementum. Quisque sed augue sapien. Aliquam erat volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi vestibulum interdum turpis, eget vulputate massa hendrerit sed. Nulla ultricies lacinia enim, sit amet fringilla elit porttitor sit amet. Nullam pulvinar imperdiet justo id porttitor.
%h3
  %a{:href=>"#"} > read more

%br

%h2 Administrative Assistant
%p Donec purus nibh, tempus sit amet volutpat quis, laoreet nec elit. Aliquam erat volutpat. Etiam eu porta felis. Nam varius tellus non justo pulvinar mollis. Sed ipsum felis, congue sed euismod id, interdum at mi. Suspendisse neque magna, tristique id hendrerit faucibus, suscipit tristique nisi. Phasellus vitae orci et risus euismod auctor vel eu risus. Morbi interdum porta elementum. Quisque sed augue sapien. Aliquam erat volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi vestibulum interdum turpis, eget vulputate massa hendrerit sed. Nulla ultricies lacinia enim, sit amet fringilla elit porttitor sit amet. Nullam pulvinar imperdiet justo id porttitor.
%h3
  %a{:href=>"#"} > read more