%h1 Contact

%p We are your team. Please contact us.

%p
  Typically, a contact form would go here, but Your Team is more interested in exploring the less obvious and more interesting parts of Rails, so email us at 
  %a{:href=>"mailto:shaine@digitaltrike.com"} shaine@digitaltrike.com
  instead.