<div class="left_col">
  <p class="intro"><strong>Your Team</strong> connects athletes and entertainers to agents and resources, making it easier for the up and coming super star to build their supporting team and to develop a successful career.</p>
  
  <iframe src="http://player.vimeo.com/video/6636389?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0"></iframe>
</div>

<div class="right_col">
  
</div>
