%br
%h2.center Welcome!

.left_col
  %h3 Burning Man Video:
  %p.intro
    %strong Your Team 
    connects athletes and entertainers to agents and resources, making it easier for the up and coming super star to build their supporting team and to develop a successful career.
  %iframe{:src=>"http://player.vimeo.com/video/6636389?title=0&amp;byline=0&amp;portrait=0", :width=>"400", :height=>"225", :frameborder=>"0"}

.right_col
  %h3 Sign up:
  %p It's free and always will be.
  = render :template => "users/_form"

.clear