#top_alt
  #top_area_alt
    #logo_alt
      %h1
        %a{:href=>"/"}
          Your Team
    #mainmenu_alt
      %ul#menu2
        %li
          %a{:href=>"terms"} Terms &amp; Conditions
          %span.descnav You agreed to these already
        %li
          %a{:href=>"privacy"} Privacy
          %span.descnav About things about you
        %li
          %a{:href=>"news"} News
          %span.descnav Things and stuff!
        %li
          %a{:href=>"about"} About
          %span.descnav About our company
        %li
          %a{:href=>"careers"} Careers
          %span.descnav Work here
        %li
          %a{:href=>"contact"} Contact 
          %span.descnav Write stuff and we'll read it

    = form_for :login_user, :html => { :id => "login_form" }, :url => { :controller => "users", :action => "login" } do |f|
      .field
        = f.text_field :username, :placeholder => "username"
      .field
        = f.password_field :password, :placeholder => "password"
      %br
      .field
        %input{:type=>"checkbox", :id=>"stay_logged_in"}
        %label{:for=>"stay_logged_in"} Keep me logged in
      .field
        %a{:href=>"#"} Forgot my password
